<div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="Filter">
        </mat-form-field>
        <button mat-icon color="primary" (click)="addNewTransaction()">New Transaction</button>
</div>

<table mat-table [(dataSource)]="dataSource" matSort >

        <ng-container matColumnDef="dateOfTransaction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.transactionDt}} </td>
        </ng-container>

        <ng-container matColumnDef="memoTransaction">
                <th mat-header-cell *matHeaderCellDef > Memo </th>
                <td mat-cell *matCellDef="let row"> {{row.memo}} </td>
        </ng-container>

        <ng-container matColumnDef="amountTransaction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let row"> {{row.amount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="fromAccountName">
                <th mat-header-cell *matHeaderCellDef > Withdraw </th>
                <td mat-cell *matCellDef="let row"> {{row.fromAccountName}} </td>
        </ng-container>

        <ng-container matColumnDef="toAccountName">
                <th mat-header-cell *matHeaderCellDef > Deposit </th>
                <td mat-cell *matCellDef="let row"> {{row.toAccountName }} </td>
        </ng-container>

        <ng-container matColumnDef="account0">
                <th mat-header-cell *matHeaderCellDef  > {{accountBank[0]}} <br> {{accountNickName[0]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[0].balance  | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="account1">
                <th mat-header-cell *matHeaderCellDef> {{accountBank[1]}} <br> {{accountNickName[1]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[1].balance | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="account2">
                <th mat-header-cell *matHeaderCellDef r> {{accountBank[2]}} <br> {{accountNickName[2]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[2].balance | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="account3">
                <th mat-header-cell *matHeaderCellDef > {{accountBank[3]}} <br> {{accountNickName[3]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[3].balance | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="account4">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{accountBank[4]}} <br> {{accountNickName[4]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[4].balance | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="account5">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{accountBank[5]}} <br> {{accountNickName[5]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[5].balance | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="account6">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{accountBank[6]}} <br> {{accountNickName[6]}} </th>
                <td mat-cell *matCellDef="let row"> {{row.accounts[6].balance | currency }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[ 10, 25, 50, 100]">
</mat-paginator>