<div>
    <div *ngIf="showMainMaintenance">
        <button (click)="newAccountButton()">New</button>
        <button (click)="delete()">Delete</button>
    </div>

    <div *ngIf="showAddNewAccount">
        <label>Bank : </label>
        <input placeholder="Bank" id="bank" type="string" #bank />
        <br>
        <label>Nickname : </label>
        <input placeholder="Nickname" id="nickname" type="string" #nickName />
        <br>
        <label>Initial Amount : </label>
        <input id="initialAmount" type="number" #initialAmount value={{InitialBalance}} />
        <br>

        <p></p>

        <div class="dropdown text-muted pt-2 animate3 slideIn drpdwn">
            <button id="btnGroupDrop" type="button" class="btn text-muted dropdown-toggle plus" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" #newAccountType value="{{accountTypeId}}"
                (click)="resetAccountType()">
                {{accountTypeName}}
            </button>
            <div class="dropdown-menu dropdown-content dropdown plus text-light dropright"
                aria-labelledby="accountTypebtn" id="accountTypedrp">
                <a *ngFor="let accountType of accountTypes" [class.selected]="selectedAccountType.id === accountTypeId"
                    (click)="onSelectAccountType(accountType)" class="dropdown-item">
                    {{accountType.description}}</a>
            </div>
        </div>
        <button (click)="createAccount(bank.value, initialAmount.value, nickName.value )">Create Account</button>

        <button (click)="cancel()">Cancel</button>
    </div>

    <div *ngIf="showRemoveAccountActionItems">
        Click on ROW to remove!
        <p></p>
        <div class="table">
            <div class="row">
                <div class="col bold">
                    Bank:
                </div>
                <div class="col bold">
                    Nickname:
                </div>
            </div>
            <div class="row" *ngFor="let account of accounts" (click)="deleteAccount(account)">
                <div class="col">
                    {{account.institutionName}}
                </div>
                <div class="col">
                    {{account.nickname}}
                </div>
            </div>
        </div>

        <p></p>
        <button (click)="cancel()">Cancel</button>
    </div>
</div>