/* DivTable.com */
.table{
	display: table;
	width: 100%;
}
.row {
	display: table-row;
}

.col {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.red {
	color: #ff0000;
}

.header {
	font-weight: bold;
}

.footer {
	font-weight: bold;
}