<h2> Future Budget </h2>
<app-budget-matrix-maintenance  [userId]="user"> </app-budget-matrix-maintenance>
<p></p>
<div class="table">
    <div class="row">
        <div class="col ">
        </div>
        <div class="col header">
            JAN
        </div>
        <div class="col header">
            FEB
        </div>
        <div class="col header">
            MAR
        </div>
        <div class="col header">
            APR
        </div>
        <div class="col header">
            MAY
        </div>
        <div class="col header">
            JUNE
        </div>
        <div class="col header">
            JULY
        </div>
        <div class="col header">
            AUG
        </div>
        <div class="col header">
            SEPT
        </div>
        <div class="col header">
            OCT
        </div>
        <div class="col header">
            NOV
        </div>
        <div class="col header">
            DEC
        </div>
    </div>
    <div class="row" *ngFor="let budgetRow of budgetInRows">
        <div class="col title">
            {{budgetRow.orgName}}
        </div>
        <div class="col align-right">
            {{budgetRow.januaryAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.februaryAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.marchAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.aprilAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.mayAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.juneAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.julyAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.augustAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.septemberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.octoberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.novemberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.decemberAmount | currency}}
        </div>
    </div>
    <div class="row" *ngFor="let incoming of incomingSum">
        <div class="col title footer">
            Incoming:
        </div>
        <div class="col footer align-right">
            {{ incoming.januaryAmount | currency }}
        </div>
        <div class="col footer align-right">
            {{incoming.februaryAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.marchAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.aprilAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.mayAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.juneAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.julyAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.augustAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.septemberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.octoberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.novemberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{incoming.decemberAmount | currency}}
        </div>
    </div>
    <p></p>
    <div class="row" *ngFor="let budgetRow of budgetOutRows">
        <div class="col title">
            {{budgetRow.orgName}}
        </div>
        <div class="col align-right">
            {{budgetRow.januaryAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.februaryAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.marchAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.aprilAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.mayAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.juneAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.julyAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.augustAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.septemberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.octoberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.novemberAmount | currency}}
        </div>
        <div class="col align-right">
            {{budgetRow.decemberAmount | currency}}
        </div>
    </div>
    <div class="row" *ngFor="let outgoing of outgoingSum">
        <div class="col title footer">
            Outgoing:
        </div>
        <div class="col footer align-right">
            {{ outgoing.januaryAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{ outgoing.februaryAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.marchAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.aprilAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.mayAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.juneAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.julyAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.augustAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.septemberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.octoberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.novemberAmount | currency}}
        </div>
        <div class="col footer align-right">
            {{outgoing.decemberAmount | currency}}
        </div>
    </div>
    <p></p>

    <div class="row" *ngFor="let diff of differenceSum">
        <div class="col title footer">
            Difference:
        </div>
        <div class="col footer  align-right"  *ngIf="diff.januaryAmount > 0; else redJan">
            {{ diff.januaryAmount | currency}}
        </div>
        <ng-template #redJan>
            <div class="col red footer  align-right">
                {{diff.januaryAmount | currency}}
            </div>
        </ng-template>
        <div class="col footer  align-right" *ngIf="diff.februaryAmount > 0; else redFeb">
            {{ diff.februaryAmount | currency}}
        </div>
        <ng-template #redFeb>
            <div class="col red footer  align-right">
                {{diff.februaryAmount | currency}}
            </div>
        </ng-template>
        <div class="col footer  align-right" *ngIf="diff.marchAmount > 0; else redMar">
            {{diff.marchAmount | currency}}
        </div>
        <ng-template #redMar>
            <div class="col red footer  align-right">
                {{diff.marchAmount | currency}}
            </div>
        </ng-template>
        <div class="col footer  align-right"  *ngIf="diff.aprilAmount > 0; else redApr">
            {{diff.aprilAmount | currency}}
        </div>
        <ng-template #redApr>
            <div class="col red footer  align-right">
                {{diff.aprilAmount | currency}}
            </div>
        </ng-template>        
        <div class="col footer  align-right" *ngIf="diff.mayAmount > 0; else redMay">
            {{diff.mayAmount | currency}}
        </div>
        <ng-template #redMay>
            <div class="col red footer  align-right">
                {{diff.mayAmount | currency}}
            </div>
        </ng-template>         
        <div class="col footer  align-right"  *ngIf="diff.juneAmount > 0; else redJune">
            {{diff.juneAmount | currency}}
        </div>
        <ng-template #redJune>
            <div class="col red footer  align-right">
                {{diff.juneAmount | currency}}
            </div>
        </ng-template>        
        <div class="col footer  align-right" *ngIf="diff.julyAmount > 0; else redJuly">
            {{diff.julyAmount | currency}}
        </div>
        <ng-template #redJuly>
            <div class="col red footer  align-right">
                {{diff.julyAmount | currency}}
            </div>
        </ng-template>          
        <div class="col footer  align-right" *ngIf="diff.augustAmount > 0; else redAug">
            {{diff.augustAmount | currency}}
        </div>
        <ng-template #redAug>
            <div class="col red footer  align-right">
                {{diff.augustAmount | currency}}
            </div>
        </ng-template>          
        <div class="col footer  align-right " *ngIf="diff.septemberAmount > 0; else redSep">
            {{diff.septemberAmount | currency}}
        </div>
        <ng-template #redSep>
            <div class="col red footer  align-right">
                {{diff.septemberAmount | currency}}
            </div>
        </ng-template>
        <div class="col footer  align-right" *ngIf="diff.octoberAmount > 0; else redOct">
            {{diff.octoberAmount | currency}}
        </div>
        <ng-template #redOct>
            <div class="col red footer  align-right">
                {{diff.octoberAmount | currency}}
            </div>
        </ng-template>
        <div class="col footer  align-right"  *ngIf="diff.novemberAmount > 0; else redNov">
            {{diff.novemberAmount | currency}}
        </div>
        <ng-template #redNov>
            <div class="col red footer  align-right">
                {{diff.novemberAmount | currency}}
            </div>
        </ng-template>        
        <div class="col footer  align-right" *ngIf="diff.decemberAmount > 0; else redDec">
            {{diff.decemberAmount | currency}}
        </div>
        <ng-template #redDec>
            <div class="col red footer align-right">
                {{diff.decemberAmount | currency}}
            </div>
        </ng-template>          
    </div>
</div>