 table {
	width: 100%;
  }

.mat-header-cell   {
	border: 1px solid #999999;
	text-align: left;
	max-width: 20px;
	padding: 3px 10px;
}
  
.mat-cell   {
	border: 1px solid #999999;
	text-align: left;
	padding: 3px 10px;
	max-width: 20px;
}

  
.mat-footer-cell   {
	border: 1px solid #999999;
	text-align: left;
	max-width: 20px;
	padding: 3px 10px;
	font-weight: bold;
}

.bold   {
	border: 1px solid #999999;
	text-align: left;
	padding: 3px 10px;
	max-width: 20px;
	font-weight: bold;
} 

.algin-right {
	float: right;
}

.spacer {
	flex: 1 1 auto;
  }
  
.form {
	min-height: 56px;
	max-height: 56px;
	display: flex;
	align-items: center;
	padding: 8px 24px 0;
	font-size: 20px;
	justify-content: space-between;
	border-bottom: 1px solid transparent;
  }