<div *ngIf="budgetInRows">

    <!-- https://github.com/marinantonio/angular-mat-table-crud/tree/master/src/app -->
    <div class="algin-right">
        <button *ngIf="!showMaintenceColumn" (click)="showMaintenanceColumn()">Show Maintenance column</button>
        <button *ngIf="showMaintenceColumn" (click)="hideMaintenanceColumn()">Hide Maintenance column</button>
        <p></p>
    </div>

    <table mat-table [(dataSource)]="budgetInRows">

        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef> Incoming </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.orgName}} </td>
            <td mat-footer-cell *matFooterCellDef> Total: </td>
        </ng-container>

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.januaryAmount | currency}} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ janIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.februaryAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ febIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.marchAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ marIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.aprilAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ aprIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.mayAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ mayIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.juneAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ junIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.julyAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ julIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.augustAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ augIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.septemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ sepIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.octoberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ octIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.novemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ novOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef> December </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.decemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ decIncomingAmount | currency}} </td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon color="primary" (click)="addNew('I')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="editRow(row.orgName, 'I', row.januaryAmount, row.februaryAmount , row.marchAmount ,
                                         row.aprilAmount, row.mayAmount , row.juneAmount, 
                                         row.julyAmount, row.augustAmount , row.septemberAmount,
                                         row.octoberAmount, row.novemberAmount , row.decemberAmount)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deleteRow(row.orgName, 'I')">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <p></p>

    <table mat-table [dataSource]="budgetOutRows">

        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef> Outgoing </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.orgName}} </td>
            <td mat-footer-cell *matFooterCellDef> Total: </td>
        </ng-container>

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell *matCellDef="let budgetRow"> {{ budgetRow.januaryAmount | currency}} </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ janOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.februaryAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ febOutgoingAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.marchAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ marOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.aprilAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ aprOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.mayAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ mayOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.juneAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ junOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.julyAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ julOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.augustAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ augOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.septemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ sepOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.octoberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ octOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.novemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ novOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef> December </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.decemberAmount | currency }} </td>
            <td mat-footer-cell *matFooterCellDef> {{ decOutgoingAmount | currency}} </td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon color="primary" (click)="addNew('O')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="editRow(row.orgName, 'O', row.januaryAmount, row.februaryAmount , row.marchAmount ,
                                     row.aprilAmount, row.mayAmount , row.juneAmount, 
                                     row.julyAmount, row.augustAmount , row.septemberAmount,
                                     row.octoberAmount, row.novemberAmount , row.decemberAmount)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deleteRow(row.orgName, 'O')">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <p></p>

    <table mat-table [dataSource]="differenceSum">
        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef> difference </th>
            <td mat-cell class="bold" *matCellDef="let budgetRow"> Difference: </td>
        </ng-container>

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell bold *matCellDef="let budgetRow"> {{budgetRow.januaryAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.februaryAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.marchAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.aprilAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.mayAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.juneAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.julyAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.augustAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.septemberAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.octoberAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.novemberAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef> December </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.decemberAmount | currency }} </td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsX"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <p></p>



</div>