.table{
	display: table;
	width: 100%;
}
.row {
	display: table-row;
	align-items: top;
	vertical-align: top;
}

.col {
	display: table-cell;
	padding: 3px 10px;
	align-items: top;
	margin: 0 auto;
	vertical-align: top;
}

.account {
	width: 10%;
}

button:active {
	color: blue;
	background-color: rgb(100, 160, 70);
}

.activeButton {
	color: blue;
	background-color: rgb(195, 195, 195);
}