<div *ngIf="auth.userProfile$ | async as profile">
    <div *ngIf="authorizedUsers.userName">
        <h3>
        Welcome: {{ authorizedUsers.userName }}
        </h3>
    </div>
    <div class="table"  *ngIf="authorizedUsers.id">
        <div class="row">
            <div class="col">
                    <app-accounts [user]="authorizedUsers.id"></app-accounts>
            </div>
            <div class="col">
                    <app-tansaction-history [user]="authorizedUsers.id"></app-tansaction-history>
            </div>
            <div class="col">
                    <app-transaction [user]="authorizedUsers.id"></app-transaction>
            </div>
        </div>
    </div>
</div>