<div *ngIf="budgetInRows">

    <!-- https://github.com/marinantonio/angular-mat-table-crud/tree/master/src/app -->
    <!-- https://stackblitz.com/edit/inline-edit-mat-table?file=app%2Finline-edit%2Finline-edit.component.scss -->
    <p></p>

    <div class="algin-left">
        <!-- <button *ngIf="showMaintenceColumn" (click)="setCurrentMonth()"> Set current Month</button> -->
        <button *ngIf="showMaintenceColumn" (click)="completeCurrentMonth()"> Close Current Month</button>
        <button *ngIf="showMaintenceColumn" (click)="forceCompleteCurrentMonth()"> Force Close Current Month</button>
        <p></p>
    </div>

    <div class="algin-right">
        <button *ngIf="!showMaintenceColumn" (click)="showMaintenanceColumn()">Show Maintenance</button>
        <button *ngIf="showMaintenceColumn" (click)="hideMaintenanceColumn()">Hide Maintenance</button>
        <p></p>
    </div>

    <table mat-table [(dataSource)]="budgetInRows">

        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef> Incoming </th>
            <td mat-cell *matCellDef="let budgetRow" > {{budgetRow.orgName}} </td>
            <td mat-footer-cell *matFooterCellDef> Total: </td>
        </ng-container>

        <ng-container matColumnDef="currentAmount">
            <th mat-header-cell *matHeaderCellDef> Current : <br> {{ currentMonthString }} </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                    budgetRow.orgId, budgetRow.currentAmount, 0,
                    budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                    budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                    budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                    budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                    )">
                {{budgetRow.currentAmount | currency}}</div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ curIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 1,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">
                {{budgetRow.januaryAmount | currency}} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ janIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 2,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.februaryAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ febIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 3,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )"> {{budgetRow.marchAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ marIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 4,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.aprilAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ aprIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 5,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.mayAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ mayIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 6,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )"> {{budgetRow.juneAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ junIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 7,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.julyAmount | currency }}</div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ julIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 8,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.augustAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ augIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 9,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.septemberAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ sepIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 10,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.octoberAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ octIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 11,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.novemberAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ novIncomingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef> December </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 12,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'I'
                )">{{budgetRow.decemberAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ decIncomingAmount | currency}} </td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="maintenance">
                <button mat-icon-button color="primary" (click)="addNew('I')">
                    <mat-icon>add</mat-icon>
                </button>
            </th>

            <td mat-cell class="maintenance"  *matCellDef="let row; let i=index;" >
                <button mat-icon-button color="primary" (click)="editRow(row.orgName, row.orgId, 'I',
                                         row.currentAmount, 
                                         row.januaryAmount, row.februaryAmount , row.marchAmount ,
                                         row.aprilAmount, row.mayAmount , row.juneAmount, 
                                         row.julyAmount, row.augustAmount , row.septemberAmount,
                                         row.octoberAmount, row.novemberAmount , row.decemberAmount)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button> 
                <button mat-icon-button color="primary" (click)="deleteRow(row.orgName, 'I')">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <table mat-table [dataSource]="budgetOutRows">

        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef> Outgoing </th>
            <td mat-cell *matCellDef="let budgetRow"> {{budgetRow.orgName}} </td>
            <td mat-footer-cell *matFooterCellDef> Total: </td>
        </ng-container>

        <ng-container matColumnDef="currentAmount">
            <th mat-header-cell *matHeaderCellDef> Current </th>
            <td mat-cell *matCellDef="let budgetRow">  <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 0,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">
            {{budgetRow.currentAmount | currency}}</div> </td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ curOutgoingAmount | currency}} </td>
        </ng-container>        

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell *matCellDef="let budgetRow">  <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 1,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">
            {{ budgetRow.januaryAmount | currency}} </div></td>
            <td mat-footer-cell *matFooterCellDef="let budgetRow"> {{ janOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell *matCellDef="let budgetRow">  <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 2,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.februaryAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ febOutgoingAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 3,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.marchAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef> {{ marOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 4,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">  {{budgetRow.aprilAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef> {{ aprOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 5,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">  {{budgetRow.mayAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ mayOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 6,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">  {{budgetRow.juneAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ junOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 7,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.julyAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ julOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 8,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.augustAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef> {{ augOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 9,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.septemberAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ sepOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 10,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.octoberAmount | currency }} </div> </td>
            <td mat-footer-cell *matFooterCellDef> {{ octOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell *matCellDef="let budgetRow"><div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 11,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )">  {{budgetRow.novemberAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef> {{ novOutgoingAmount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef> December </th>
            <td mat-cell *matCellDef="let budgetRow"> <div  (click)="editCell(budgetRow.orgName, 
                budgetRow.orgId, budgetRow.currentAmount, 12,
                budgetRow.januaryAmount, budgetRow.februaryAmount , budgetRow.marchAmount ,
                budgetRow.aprilAmount, budgetRow.mayAmount , budgetRow.juneAmount, 
                budgetRow.julyAmount, budgetRow.augustAmount , budgetRow.septemberAmount,
                budgetRow.octoberAmount, budgetRow.novemberAmount , budgetRow.decemberAmount, 'O'
                )"> {{budgetRow.decemberAmount | currency }} </div></td>
            <td mat-footer-cell *matFooterCellDef> {{ decOutgoingAmount | currency}} </td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="maintenance" >
                <button mat-icon-button color="primary" (click)="addNew('O')" >
                    <mat-icon>add</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let row; let i=index;" class="maintenance" >
                <button mat-icon-button color="primary" (click)="editRow(row.orgName,row.orgId,  'O', 
                                     row.currentAmount,
                                     row.januaryAmount, row.februaryAmount , row.marchAmount ,
                                     row.aprilAmount, row.mayAmount , row.juneAmount, 
                                     row.julyAmount, row.augustAmount , row.septemberAmount,
                                     row.octoberAmount, row.novemberAmount , row.decemberAmount)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="deleteRow(row.orgName, 'O')">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <p></p>

    <table mat-table [dataSource]="differenceSum">
        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell class="bold" *matCellDef="let budgetRow"> Difference: </td>
        </ng-container>

        <ng-container matColumnDef="currentAmount">
            <th mat-header-cell *matHeaderCellDef> Current </th>
                <td mat-cell  *matCellDef="let budgetRow"> 
                     <div *ngIf="budgetRow.currentAmount > 0; else redCurr">
                         {{ budgetRow.currentAmount | currency}}
                    </div>
                    <ng-template #redCurr>
                        <div  class="red" >
                            {{ budgetRow.currentAmount | currency}}
                        </div>
                    </ng-template>
                 </td>
        </ng-container>         

        <ng-container matColumnDef="januaryAmount">
            <th mat-header-cell *matHeaderCellDef> January </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.januaryAmount > 0; else redJan">
                    {{ budgetRow.januaryAmount | currency}}
               </div>
               <ng-template #redJan>
                   <div  class="red" >
                       {{ budgetRow.januaryAmount | currency}}
                   </div>
               </ng-template>
            </td>            
        </ng-container>

        <ng-container matColumnDef="februaryAmount">
            <th mat-header-cell *matHeaderCellDef> February </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.februaryAmount > 0; else redFeb">
                    {{ budgetRow.februaryAmount | currency}}
               </div>
               <ng-template #redFeb>
                   <div  class="red" >
                       {{ budgetRow.februaryAmount | currency}}
                   </div>
               </ng-template>
            </td>                        
        </ng-container>

        <ng-container matColumnDef="marchAmount">
            <th mat-header-cell *matHeaderCellDef> March </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.marchAmount > 0; else redMar">
                    {{ budgetRow.marchAmount | currency}}
               </div>
               <ng-template #redMar>
                   <div  class="red" >
                       {{ budgetRow.marchAmount | currency}}
                   </div>
               </ng-template>
            </td>                      
        </ng-container>

        <ng-container matColumnDef="aprilAmount">
            <th mat-header-cell *matHeaderCellDef> April </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.aprilAmount > 0; else redApr">
                    {{ budgetRow.aprilAmount | currency}}
               </div>
               <ng-template #redApr>
                   <div  class="red" >
                       {{ budgetRow.aprilAmount | currency}}
                   </div>
               </ng-template>
            </td>                    
        </ng-container>

        <ng-container matColumnDef="mayAmount">
            <th mat-header-cell *matHeaderCellDef> May </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.mayAmount > 0; else redMay">
                    {{ budgetRow.mayAmount | currency}}
               </div>
               <ng-template #redMay>
                   <div  class="red" >
                       {{ budgetRow.mayAmount | currency}}
                   </div>
               </ng-template>
            </td>                   
        </ng-container>

        <ng-container matColumnDef="juneAmount">
            <th mat-header-cell *matHeaderCellDef> June </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.juneAmount > 0; else redJune">
                    {{ budgetRow.juneAmount | currency}}
               </div>
                <ng-template #redJune>
                    <div  class="red" >
                        {{ budgetRow.juneAmount | currency}}
                    </div>
                </ng-template>
            </td>                 
        </ng-container>

        <ng-container matColumnDef="julyAmount">
            <th mat-header-cell *matHeaderCellDef> July </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.julyAmount > 0; else redJuly">
                    {{ budgetRow.julyAmount | currency}}
               </div>
                <ng-template #redJuly>
                    <div  class="red" >
                        {{ budgetRow.julyAmount | currency}}
                    </div>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="augustAmount">
            <th mat-header-cell *matHeaderCellDef> August </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.augustAmount > 0; else redAug">
                    {{ budgetRow.augustAmount | currency}}
               </div>
                <ng-template #redAug>
                    <div  class="red" >
                        {{ budgetRow.augustAmount | currency}}
                    </div>
                </ng-template>
            </td>            
        </ng-container>

        <ng-container matColumnDef="septemberAmount">
            <th mat-header-cell *matHeaderCellDef> September </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.septemberAmount > 0; else redSep">
                    {{ budgetRow.septemberAmount | currency}}
               </div>
                <ng-template #redSep>
                    <div  class="red" >
                        {{ budgetRow.septemberAmount | currency}}
                    </div>
                </ng-template>
            </td>               
        </ng-container>

        <ng-container matColumnDef="octoberAmount">
            <th mat-header-cell *matHeaderCellDef> October </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.octoberAmount > 0; else redOct">
                    {{ budgetRow.octoberAmount | currency}}
               </div>
                <ng-template #redOct>
                    <div  class="red" >
                        {{ budgetRow.octoberAmount | currency}}
                    </div>
                </ng-template>
            </td>                      
        </ng-container>

        <ng-container matColumnDef="novemberAmount">
            <th mat-header-cell *matHeaderCellDef> November </th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.novemberAmount > 0; else redNov">
                    {{ budgetRow.novemberAmount | currency}}
               </div>
                <ng-template #redNov>
                    <div  class="red" >
                        {{ budgetRow.novemberAmount | currency}}
                    </div>
                </ng-template>
            </td>                         
        </ng-container>

        <ng-container matColumnDef="decemberAmount">
            <th mat-header-cell *matHeaderCellDef>December</th>
            <td mat-cell  *matCellDef="let budgetRow"> 
                <div *ngIf="budgetRow.decemberAmount > 0; else redDec">
                    {{ budgetRow.decemberAmount | currency}}
               </div>
                <ng-template #redDec>
                    <div  class="red" >
                        {{ budgetRow.decemberAmount | currency}}
                    </div>
                </ng-template>
            </td>                 
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="maintenance no-border" >
            </th>

            <td mat-cell *matCellDef="let row; let i=index;" class="maintenance  no-border">
            </td>

        </ng-container>        

        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
    </table>
    <p></p>

</div>