<p></p>
<h3>
    <div id="mainTransactionHeader"> Transactions: </div>
</h3>
<h4>
    <div id="depositHeader" hidden="true"> Deposit </div>
    <div id="transferHeader" hidden="true"> Transfer </div>
    <div id="withdrawHeader" hidden="true"> Withdraw </div>
</h4>

<button id="deposit" (click)="enableDeposit()"> Deposit</button>
<button id="transfer" (click)="enableTransfer()"> Transfer</button>
<button id="withdraw" (click)="enableWithdraw()"> Withdraw</button>

<div id="inputFields" hidden="true">
    <input placeholder="Memo" #newTransactionMemo />
    <br>
    <input placeholder="$ Amount" id="amountValue " type="number" #newTransactionAmount />
</div>

<p></p>
<div class="table">
    <div class="row">
        <div class="col">

            <div id="fromAccount" hidden="true" class="text-center pt-2 pb-2">
                <div class="dropdown" role="group">
                    <button class="dropbtn dropdown-toggle" type="button" #newTransactionFromAccount
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{fromAccountId}}">
                        {{fromAccountName}}
                    </button>
                    <div class="dropdown-menu dropdown-content" id="fromAccountdrp">
                        <a *ngFor="let account of accountsFrom" class="dropdown-item"
                            (click)="onSelectFromAccount(account)" [class.selected]="account === selectFromAccount">
                             {{account.institutionName}} / {{account.nickname}}</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">

            <div id="toAccount" hidden="true">
                <div class="dropdown" role="group">
                    <button aria-haspopup="true" class="dropbtn" #newTransactionToAccount value="{{toAccountId}}">
                        {{toAccountName}}
                    </button>
                    <div class="dropdown-content">
                        <a *ngFor="let account of accountsTo" [class.selected]="account === selectToAccount"
                            (click)="onSelectToAccount(account)">
                            {{account.institutionName}} / {{account.nickname}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="submitButtons" hidden="true">
                <button
                    (click)="addDeposit(newTransactionAmount.value,  newTransactionMemo.value, newTransactionFromAccount.value, newTransactionToAccount.value)">
                    OK</button>
                <button (click)="cancelTransaction()">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
