<p></p>
<button id="deposit" (click)="enableDeposit()"> Deposit</button>
<button id="transfer" (click)="enableTransfer()"> Transfer</button>
<button id="withdrwaw" (click)="enableWithdraw()"> Withdraw</button>

<div class="table">
    <div class="row">
        <div class="col">
            <div id="fromAccount" hidden="true">
                <div class="dropdown" role="group">
                    <button class="dropbtn" type="button" #newTransactionFromAccount value="{{fromAccountId}}">
                        {{fromAccountName}}
                    </button>
                    <div class="dropdown-content">
                        <a *ngFor="let account of accountsFrom" [class.selected]="account === selectFromAccount"
                            (click)="onSelectFromAccount(account)">{{account.id}}: {{account.name}}</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div id="toAccount" hidden="true">
                <div class="dropdown" role="group">
                    <button aria-haspopup="true" aria-expanded="false" class="dropbtn" type="button" #newTransactionToAccount value="{{toAccountId}}">
                        {{toAccountName}}
                    </button>
                    <div class="dropdown-content">
                        <a *ngFor="let account of accountsTo" [class.selected]="account === selectToAccount"
                            (click)="onSelectToAccount(account)">{{account.id}}: {{account.name}}</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<p></p>

<div id="inputFields" hidden="true">
    <div id="memo" class="text-center pt-1 pb-1">
        <!-- <label>Memo: </label> -->
        <input placeholder="Memo" #newTransactionMemo />
    </div>
    <!-- <label>Amount $: </label> -->
    <input placeholder="$ Amount" id="amountValue " type="number" #newTransactionAmount />

</div>

<p></p>
<div id="submitButtons" hidden="true">
    <button
        (click)="addDeposit(newTransactionAmount.value,  newTransactionMemo.value, newTransactionFromAccount.value, newTransactionToAccount.value)">
        OK</button>
    <button (click)="cancelTransaction()">
        Cancel</button>
</div>