<p></p>
<button (click)="enableDeposit()"> Deposit</button>
<button (click)="enableTransfer()"> Transfer</button>
<button (click)="enableWithdraw()"> Withdraw</button>

<div id="toAccount" hidden="true">
    <div class="dropdown" role="group">
        <button class="dropbtn" type="button" #newTransactionToAccount value="{{toAccountId}}">
            {{toAccountName}}
        </button>
        <div class="dropdown-content">
            <a *ngFor="let account of accountsTo" [class.selected]="account === selectToAccount"
                (click)="onSelectToAccount(account)">{{account.id}}: {{account.name}}</a>
        </div>
    </div>
</div>

<div id="fromAccount" hidden="true">
    <div class="dropdown" role="group">
        <button class="dropbtn" type="button" #newTransactionToAccount value="{{fromAccountId}}">
            {{fromAccountName}}
        </button>
        <div class="dropdown-content">
            <a *ngFor="let account of accountsFrom" [class.selected]="account === selectFromAccount"
                (click)="onSelectFromAccount(account)">{{account.id}}: {{account.name}}</a>
        </div>
    </div>
</div>


<p></p>

<input placeholder="$ Amount*" id="amountValue " type="number" #newTransactionAmount />
<p></p>
<button (click)="addDeposit(newTransactionAmount.value,  newTransactionToAccount.value)">
    OK</button>
<button id="cancelTransaction"  (click)="cancelTransaction()">
    Cancel</button>  